body {
    margin: 0;
    padding: 0;

    background-image: url('images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: 'Manrope';
    color: rgba(240, 248, 255, 0.932);
}

/* header */

header {
    display: flex;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.432);
    align-items: center;
    justify-content: end;
}

.ham-icon {
    height: 25px;
     margin-right: 1em;
}

/* main */

main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 400;
    font-size: 3em;
    margin-bottom: 0;
    align-self: start;
}

.main-body {
    line-height: 1.3em;
    margin-bottom: 4em;
    letter-spacing: 1px;
}

strong {
    font-size: 1.1em;
}

.icons {
    display: grid;
    grid-template: repeat(2, 140px)/ repeat(3, 100px);
    grid-gap: 25px;
    text-align: center;
}

.icon {
    background-color: rgba(0, 0, 0, 0.37);
    box-shadow: 0.25em 0.25em 0.75em rgba(97, 97, 97, 0.253);
    padding: 0.5em;
}

.icon-text {
    margin-top: 0.4em;
    letter-spacing: 3px;
    font-size: 0.8em;
    font-weight: 700;
}