html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;

    background-image: url('images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: 'Manrope';
    color: #f0f8ffee;
    overflow-x: hidden;
}

@keyframes Transformation {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translate(0);
    }   
}

/* header */

header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: end;
    padding-right: 1em;
}

.currentPage {
    border-bottom: 2px solid white;

}

.header-menu {
    display: none;
}

.ham-icon {
    height: 25px;
    margin-right: 1em;
}

/* nav */

.nav-section {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 40%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.808);
    border-radius: 1em;
    z-index: 2;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 750ms cubic-bezier(.5,0, .5,1),
        visibility 750ms;
}

.nav-section.active{
    transform: translateX(0);
    visibility: visible;
    transition: transform 750ms cubic-bezier(.5,0,.5,1);
}

.x-icon {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    padding: 0.5em;
    backdrop-filter: blur(10px);
   
    border-radius: 36px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.226);
}

.menu {
    text-align: center;
    margin-top: 2em;
}

.menu > p{
    font-size: 1.5em;
    padding: 0.2em 1em;
    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 0.226);
    margin: 2em 0;
}

.menu > p > a {
    text-decoration: none;
    color: inherit;
}

/* main */

main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: Transformation 1s;
    margin-top: 2em;
}

.main-blur {
    filter: blur(7px);
}

h1 {
    font-weight: 400;
    font-size: 3em;
    margin-bottom: 0;
    align-self: start;
}

.main-body {
    line-height: 1.5em;
    margin-bottom: 4em;
    letter-spacing: 1px;
    align-self: center;
    max-width: 400px;
}

strong {
    font-size: 1.1em;
}

.icons {
    display: grid;
    grid-template: repeat(2, 140px)/ repeat(3, 100px);
    grid-gap: 25px;
    text-align: center;
}

.icon {
    background-color: rgba(0, 0, 0, 0.37);
    box-shadow: 0.25em 0.25em 0.75em rgba(97, 97, 97, 0.253);
    padding: 0.5em;
}

.icon-text {
    margin-top: 0.4em;
    letter-spacing: 3px;
    font-size: 0.8em;
    font-weight: 700;
}

/* work section */

.projects {
    display: grid;
    grid-template-columns: auto / auto auto auto;
    grid-gap: 2em;
    width: 80%;
    margin: 0 auto;
    margin-top: 5em;
    max-width: 500px;
    margin-bottom: 2em;
}

.project {
    border: 1px solid rgb(48, 48, 48);
    border-radius: 0.7em;
    overflow: hidden;
    background-color: rgb(24, 24, 24);
    padding: 1em;
    box-shadow: 0.25em 0.25em 0.75em rgba(102, 102, 102, 0.253);
}

.project-details {
    padding-bottom: 1em;
}

.project-details > p {
    font-size: 0.8em;
    margin-top: 0;
}

.project-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.3em;
}

.project-details > button {
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.7em;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.8em;
    margin-top: 1em;
}

/* contact section */

.contact-body {
    height: 100vh;
}

.main-section-contact {
   position: absolute;
    top:50px;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}

.contact {
    margin-top: 2em;
    border: 1px solid rgba(128, 128, 128, 0.363);
    width: 80%;
    padding: 2em;
    background-color: rgb(8, 8, 8);
    border-radius: 0.4em;
}

.contact-form-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.contact-form-header > div > h3,p {
    margin: 0;
    letter-spacing: 1px;
}

.contact-form-header > div > h3 {
    margin-bottom: 0.2em;
    font-weight: 500;
}

.contact-form-header > div > p {
    font-size: 0.9em;
    color: rgb(138, 138, 138);
}

.contact-pfp {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.form-input {
    letter-spacing: 2px;
    color: inherit;
    font-size: 1.1em;
    padding: 1.5em 0.8em;
    width: 100%;
    box-sizing: border-box;
    height: 2em;
    margin: 0.2em 0;
    border-radius: 0.4em;
    border: 1px solid rgb(41, 41, 41);
    background-image: radial-gradient(circle,rgb(8, 8, 8) 9%, rgb(15, 15, 15) 85%);;
}

.form-input::placeholder{
    font-size: 0.8em;
    letter-spacing: 1px;
    font-weight: 500;
}

.about-yourself-input {
    padding-bottom: 100px;
}

.contact-btn {
    width: 100%;
    padding: 1em 0;
    margin-top: 1em;
    border-radius: 0.5em;
    border: none;
    background-image: radial-gradient(circle at center, rgb(46, 77, 255) 40%, rgb(45, 45, 255), blue 100%);
    color: rgba(255, 255, 255, 0.884);
    letter-spacing: 1px;
    cursor: pointer;
}

.or-section {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.or-line {
    height: 1px;
    width: 120px;
    background-color: rgba(204, 204, 204, 0.267);
}

.or-text {
    margin: 0 7px;
    font-size: 0.8em;
}

.contact-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact-socials-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(31, 31, 31);
    height: 90px;
    width: 90px;
    margin: 0 0.2em;
    border-radius: 0.4em;
    background-color: rgba(22, 22, 22, 0.733);
    box-shadow: inset 0 0 20px #292929a4;
}

.contact-socials > div > p {
    font-size: 0.7em;
    margin-top: 4px;
}

.contact-socials-img {
    width: 30px;
    height: 30px;
}

.socials-link {
    text-decoration: none;
    color: inherit;
    font-size: 0.7em;
}


/* desktop size */


@media (min-width: 900px) {
    .ham-icon {
        display: none;
    }

    header {
        justify-content: center;
    }

    main {
        padding-top: 2em;
    }

    h1 {
        font-size: 4em;
        margin-top: -20px;
    }
   
    .header-menu {
        display: flex;
    }

    .header-menu > ul > li > a {
        color: inherit;
        text-decoration: none;
    }

    li {
        letter-spacing: 2px;
        display: inline-block;
        position: relative;
        padding-bottom: 3px;
        margin-right: 4em;
    }

    li:last-child {
        margin-right: 0;
    }

    li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }

    li:hover:after {
        width: 100%;
        background: #f0f8ffee;
    }

    .main-section {
        margin: 0;
        width: 40%;
        float: right;
        padding-right: 2em;
    }

    .main-body {
        max-width: 80%;
        align-self: normal;
        line-height: 1.7em;
        margin-bottom: 0;
    }

    .icons {
        align-self: start;
        margin-left: 2em;
    }

    .header_main_body {
        border-left: 4px solid;
        border-image: 
        linear-gradient(
        to bottom, 
        #f0f8ffee,
        rgba(0, 0, 0, 0)
        ) 1 100%;
        margin-top: 4em;
        margin-bottom: 4em;
        padding-left: 2em;
    }

    .projects {
        max-width: 750px;
    }

    .project {
        display: flex;
        justify-content: space-between;
    }

    .project-details {
        order: 1;
        max-width: 200px;
        margin-right: 3em;
    }

    .project-img {
        height: 280px;
        width: 280px;
        order: 2
    }

     .main-section-work {
        margin-right: 3em;
        width: 40%;
        float: right;
        padding-right: 2em;
    }

    /* contact section */

    .main-section-contact {
        position: absolute;
        top:50px;
        right:0;
        bottom:50px;
        left:0;
        margin:auto;
        padding: 0;
    }

}